<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <main>
        <div class="div-grid-3">
            <div class="div-card">
                <img src="https://lh6.googleusercontent.com/proxy/u_P9-J41zHI_zKPEex8-378Ep8sVADlstnHejd50TIyEUSTXvi382RkGBik0CVgYlLAszx0Y-GIfSYnZqFcULn1GLxZ3bZa7kxPL5TM-llTRlAG68BprcSrE3OhD_wpPBmrJrJzcOCyKTFLoCZ2Oc_YKAg"
                    alt="">

                <div class="card-texto">
                    <h3>Paulo Henrrique</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia quas consectetur ad pariatur
                        explicabo quo libero earum ullam. Nihil dolore animi adipisci voluptas ipsam aliquam dolorem
                        quaerat
                        maiores, quisquam harum.</p>
                    <p>Avaliação: 5/5 ⭐⭐⭐⭐⭐</p>
                </div>
            </div>

            <div>
                <div class="div-card">
                    <img src="https://lh6.googleusercontent.com/proxy/u_P9-J41zHI_zKPEex8-378Ep8sVADlstnHejd50TIyEUSTXvi382RkGBik0CVgYlLAszx0Y-GIfSYnZqFcULn1GLxZ3bZa7kxPL5TM-llTRlAG68BprcSrE3OhD_wpPBmrJrJzcOCyKTFLoCZ2Oc_YKAg"
                        alt="">

                    <div class="card-texto">
                        <h3>Paulo Henrrique</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia quas consectetur ad
                            pariatur
                            explicabo quo libero earum ullam. Nihil dolore animi adipisci voluptas ipsam aliquam dolorem
                            quaerat
                            maiores, quisquam harum.</p>
                        <p>Avaliação: 5/5 ⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="div-card">
                <img src="https://lh6.googleusercontent.com/proxy/u_P9-J41zHI_zKPEex8-378Ep8sVADlstnHejd50TIyEUSTXvi382RkGBik0CVgYlLAszx0Y-GIfSYnZqFcULn1GLxZ3bZa7kxPL5TM-llTRlAG68BprcSrE3OhD_wpPBmrJrJzcOCyKTFLoCZ2Oc_YKAg"
                    alt="">

                <div class="card-texto">
                    <h3>Paulo Henrrique</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia quas consectetur ad pariatur
                        explicabo quo libero earum ullam. Nihil dolore animi adipisci voluptas ipsam aliquam dolorem
                        quaerat
                        maiores, quisquam harum.</p>
                    <p>Avaliação: 5/5 ⭐⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>


        <div class="div-grid-2">
            <div>
                <h3 class="text-red">Economia
                    Cerca de R$ 10 bi de corte de gastos do governo dependem de negociação com o Congresso</h3>
            </div>

            <div class="div-grid-2">
                <div>
                    <img src="https://s2-g1.glbimg.com/Q6NowNrOWKuxflltwbYHf2xpocA=/0x0:2774x2292/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/o/K/bBLv8dQ0Ov63jU1rGAMw/chiron-br-1.jpg"
                        alt="">
                </div>

                <div>
                    <img src="https://s2-g1.glbimg.com/Q6NowNrOWKuxflltwbYHf2xpocA=/0x0:2774x2292/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/o/K/bBLv8dQ0Ov63jU1rGAMw/chiron-br-1.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </main>



</body>

</html>