.img-noticia {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    width: 400px;
    height: 100px;
    align-items: start;
    justify-content: start;
}

.div-2 {
    height: 100px;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}